name: Deploy

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: akhileshns/heroku-deploy@v3.0.0
        with:
          heroku_email: "iet@nitk.edu.in"
          heroku_api_key: ${{secrets.HEROKU_DEPLOY}}
          heroku_app_name: "ietnitk-cms"
